<%- include('../partials/adminPartials/header')%>

  <div id="app">
    <style>
      body {
        background-color: rgb(225, 222, 222);
      }

      .centered-section {
        display: flex;
        justify-content: center;
        align-items: center;

      }
    </style>
    <%- include('../partials/adminPartials/nav')%>

      <section class="is-title-bar">
        <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
          <ul>
            <li>Admin</li>
            <li>Category</li>
            <li>Add Category</li>
          </ul>
        </div>
      </section>



      <section class="section main-section addCat">
        <section class="centered-section  card"
          style="background-color:  #8a8b879a; color: aliceblue; border: none; margin: 0 20px 20px 20px;">
          <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
            <h1 class="title" style="text-align: center;">Category</h1>
          </div>
        </section>

        <div class="card-content inner-addCat">
          <form id="categoryValidate" method="post" action="/admin/addCategory" enctype="multipart/form-data">
            <div class="field">
              <label class="label">Category Name</label>
              <div class="field-body">
                <div class="field">
                  <div class="control icons-left">
                    <input class="input" type="text" placeholder="Category name" name="name" id="name" />
                    <span class="icon left"><i class="mdi mdi-table"></i></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="field">
              <label class="label">Description</label>
              <div class="field-body">
                <div class="field">
                  <div class="control icons-left">
                    <input class="input" type="text" placeholder="Description" name="categoryDescription"
                      id="categoryDescription" />
                    <span class="icon left"><i class="mdi mdi-note-outline"></i></span>
                  </div>
                </div>
              </div>
            </div>

            <hr />

            <div class="field">
              <label class="label" for="image">Category Image</label>
              <div class="field-body">
                <div class="field file">
                  <label class="upload control">
                    <a class="button blue">Image Upload</a>
                    <img id="preview" src="#" alt="Image Preview" style="display: none" />
                    <input type="file" id="image" name="image" accept="image/*" />
                  </label>
                </div>
              </div>
            </div>

            <button type="submit" class="button light" style="margin-left: 15rem">
              Add
            </button>
          </form>
        </div>
  </div>
  </section>
  </div>

  <%- include("../partials/adminPartials/footer")%>