<!DOCTYPE html>
<html lang="en">
<!-- molla/index-7.html  22 Nov 2019 09:56:39 GMT -->

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>ZAAK</title>
  <meta name="keywords" content="HTML5 Template" />
  <meta name="description" content="Molla - Bootstrap eCommerce Template" />
  <meta name="author" content="p-themes" />
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png" />
  <link rel="icon" type="image/svg+xml" sizes="32x32" href="assets/images/icons/https://example.com/image.svg" />
  <link rel="icon" type="image/svg+xml" sizes="16x16" href="assets/images/icons/https://example.com/image.svg" />
  <link rel="manifest" href="assets/images/icons/site.html" />
  <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666" />
  <link rel="shortcut icon" href="assets/images/icons/ZAAK-Logo.png" />
  <meta name="apple-mobile-web-app-title" content="ZAAK" />
  <meta name="application-name" content="ZAAk" />
  <meta name="msapplication-TileColor" content="#cc9966" />
  <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml" />
  <meta name="theme-color" content="#ffffff" />
  <!-- Plugins CSS File -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
  <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="assets/css/plugins/owl-carousel/owl.carousel.css" />
  <link rel="stylesheet" href="assets/css/plugins/magnific-popup/magnific-popup.css" />
  <link rel="stylesheet" href="assets/css/plugins/jquery.countdown.css" />
  <!-- Main CSS File -->
  <link rel="stylesheet" href="assets/css/style.css" />
  <link rel="stylesheet" href="assets/css/skins/skin-demo-7.css" />
  <link rel="stylesheet" href="assets/css/skins/skin-demo-6.css" />
  <link rel="stylesheet" href="assets/css/demos/demo-6.css">
  <link rel="stylesheet" href="assets/css/demos/demo-7.css" />
</head>

</html>