<aside class="aside is-placed-left is-expanded" style="background-color:   rgb(50, 49, 46);">
  <div class="aside-tools" style="background-color:  rgb(50, 49, 46);">
    <div>
      <b class="font-black">Admin</b>
    </div>
  </div>
  <div class="menu is-menu-main">
    <!-- <p class="menu-label">General</p> -->
    <ul class="menu-list">
      <li class="active">
        <a href="/admin/dashboard" class="text-decoration-none">
          <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
          <span class="menu-item-label">Dashboard</span>
        </a>
      </li>
      <li class="active">
        <a href="/admin/user" class="text-decoration-none">
          <span class="icon"><i class="mdi mdi-account"></i></span>
          <span class="menu-item-label">Users</span>
        </a>
      </li>

      <li>
        <a class="dropdown" style="text-decoration: none;">
          <span class="icon"><i class="mdi mdi-table"></i></span>
          <span class="menu-item-label">Category</span>
          <span class="icon"><i class="mdi mdi-plus"></i></span>
        </a>
        <ul>
          <li>
            <a href="/admin/categories" style="text-decoration: none;">
              <span>Main Category</span>
            </a>
          </li>
          <li>
            <a href="/admin/subCategory" style="text-decoration: none;">
              <span>Sub Category</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="active">
        <a href="/admin/products" class="text-decoration-none">
          <span class="icon"><i class="mdi mdi-cart-outline"></i></span>
          <span class="menu-item-label">Products</span>
        </a>
      </li>
      <li class="active">
        <a href="/admin/orders" class="text-decoration-none">
          <span class="icon"><i class="mdi mdi-cart-arrow-up"></i></span>
          <span class="menu-item-label">Orders</span>
        </a>
      </li>
      <li class="active">
        <a href="/admin/coupons" class="text-decoration-none">
          <span class="icon"><i class="mdi mdi-ticket-percent"></i></span>
          <span class="menu-item-label">Coupons</span>
        </a>
      </li>
      <li class="active">
        <a href="/admin/banners" class="text-decoration-none">
          <span class="icon"><i class="mdi mdi-alpha-b-box-outline"></i></span>
          <span class="menu-item-label">Banners</span>
        </a>
      </li>
      <li class="active">
        <a href="/admin/logout" class="text-decoration-none">
          <span class="icon"><i class="mdi mdi-logout"></i></span>
          <span class="menu-item-label"><b>Logout</b></span>
        </a>
      </li>

    </ul>
  </div>
</aside>